# -----------------------------------------------------------------------------
# DATABASE & ORM
# -----------------------------------------------------------------------------
SQLAlchemy==1.4.54
alembic==1.16.4
psycopg2-binary==2.9.11
asyncpg==0.30.0
aiosqlite==0.21.0


# -----------------------------------------------------------------------------
# CONFIGURATION & SETTINGS
# -----------------------------------------------------------------------------
python-dotenv==1.1.1
PyYAML==6.0.2
s3fs==2026.6.0

# -----------------------------------------------------------------------------
# DATA PROCESSING (Core)
# -----------------------------------------------------------------------------
numpy==2.3.2
pyarrow==15.0.0
polars==1.5.0

# -----------------------------------------------------------------------------
# ORCHESTRATION (Core)
# -----------------------------------------------------------------------------
apache-airflow==2.9.1

# -----------------------------------------------------------------------------
# DATA QUALITY
# -----------------------------------------------------------------------------

great_expectations==1.18


# -----------------------------------------------------------------------------
# DATA SCIENTIST
# -----------------------------------------------------------------------------
scikit-learn==1.2.2
statsmodels==0.14.6


# -----------------------------------------------------------------------------
# DATA VISUALIZE
# -----------------------------------------------------------------------------

seaborn==0.13.2
matplotlib==3.10.3

